<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    <link rel="stylesheet" href="about.css">
    <script>
       var  data = 0;
        const count = (value)=>{
        value == 1 ? data++ : data--;
        document.getElementById('h1').innerText = data;
        }

    </script>
</head>
<body> 
    <!-- add compontent of differnt file just like react js -->
     <%- include('header');%> 
    <h1 >welcome <%=user.name%> <%=user.sirname%></h1>
       <h1 id="h1" ></h1>
       <button  onclick="count(1)" >click +</button>
       <button  onclick="count(0)" >click -</button>
        <% user.skills.forEach((item)=>{ %>
      <h2> <%= item %>  </h2>
      <% }) %> 
</body>
</html>